extends ../layout

block content
  h1= title

  p
    a(class="button", href="/books/new") Create New Book

  form(action="/books", method="post")
    p
      label(for="search") Search books:
      input(type="text", name="search" id="search" value=search)
      input(class="btn-search", type="submit", value="Search")
      a(class="button btn-search", href="/books") Reset


  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        book
          tr
            td
              a(href="/books/" + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.year
